<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - REACT</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header>
        <section>
            <a href='@Url.Action("Index", "Home")'><img src="/imagenes/Logo blanco.png" alt="Logo react"></a>
        </section>
        <nav>
            <a href='@Url.Action("VerPerfil", "Account")'><img src="/imagenes/Usuario.png" alt="Usuario"></a>
            <a href='@Url.Action("Inicio", "Home")'><img src="/imagenes/Home.png" alt="Home"></a>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>
    
    <footer>
        <section>
            <a href="https://www.instagram.com/react.lavidanoespera/"><img src="/imagenes/Logo instagram.png" alt="Instagram"></a>
            <a href="mailto:react.lavidanoespera@gmail.com"><img src="/imagenes/Logo mail.png" alt="Mail"></a>
        </section>
        <p>© @DateTime.Now.Year - Todos los derechos reservados</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
