@{
    ViewData["Title"] = "Particulares";
    bool? estadoUltimoViaje = ViewBag.estadoUltimoViaje as bool?;
    int? idViaje = ViewBag.idViaje as int?;
    string color = TempData["Color"] as string;
    var distancia = TempData["Distancia"];
}

<main>
    <section class="principal">
        <h1 class="title">Modo Particular</h1>

        @if (idViaje == null || estadoUltimoViaje == false)
        {
            <a href='@Url.Action("CrearViaje", "Home")' class="secondary-button">Crear viaje</a>
        }
        else
        {
            <a href='@Url.Action("FinalizarViaje", "Home", new { IdViaje = idViaje })' class="secondary-button">Finalizar viaje</a>

            <form id="formUbicacion" action="/Home/CompararUbicacion" method="post">
                <input type="hidden" id="Latitud" name="Latitud">
                <input type="hidden" id="Longitud" name="Longitud">
                <input type="hidden" id="IdViaje" name="IdViaje" value="@ViewBag.idViaje">
            </form>
        }
    </section>

    @if (!string.IsNullOrEmpty(color) && distancia != null)
    {
        <section class="colores">
            <p>Distancia mínima: @distancia metros.</p>

            @if (color == "red")
            {
                <p>Estás muy cerca de un servicio de emergencia. Despejá el paso.</p>
            }
            else if (color == "yellow")
            {
                <p>Un vehículo de emergencia se aproxima. Mantené precaución.</p>
            }
            else
            {
                <p>No hay servicios de emergencia cerca por ahora.</p>
            }
            <div id="color-indicator" class="color-indicador"></div>
        </section>
    }
</main>

<script>
    var idViaje = @(idViaje ?? 0);
    var viajeActivo = @((idViaje != null && estadoUltimoViaje == true).ToString().ToLower());
    var colorInicial = '@color';
    var indicador = document.getElementById('color-indicator');


    function enviarUbicacionAuto() {

        if (!viajeActivo || idViaje === 0) return;

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    const lat = position.coords.latitude.toString().replace('.', ',');
                    const lon = position.coords.longitude.toString().replace('.', ',');


                    fetch('/Home/CompararUbicacion?Latitud=' + lat + '&Longitud=' + lon + '&IdViaje=' + idViaje, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                         indicador.style.backgroundColor = data.color;
                    });
                }
            );
        }
    }

    
    setInterval(enviarUbicacionAuto, 5000);

   
   
   
   
   
   
   
   /*window.onload = function () {
        
        if (colorInicial && indicador) {
            indicador.style.backgroundColor = colorInicial;
        }

        if (viajeActivo && idViaje !== 0) {
            enviarUbicacionAuto();
            
        }
    }*/
</script>